.contact.container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    color: var(--text-color);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    overflow: hidden;
    overflow-y: hidden;
}

.contact.text {
    background: var(--sub-menu-color);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: auto;
    box-shadow: 0 0 20px 10px var(--shadow-color);
}

.contact.text h1 {
    align-self: center;
}

.contact.list {
    width: 500px;
}
.contact.list li{
    margin-top: 1rem;
    list-style: none;
}

.contact.email {
    text-decoration: none;
    color: var(--text-color);
}

.contact.email:hover {
    color: var(--hover-color);
    cursor: pointer;
    transition: all 0.5s ease;
}
