.home-container {
    font-size: 3rem;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    object-fit: contain;
    overflow: hidden;
}

.home-text {
    color: var(--text-color);
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: flex-end;
    margin: auto 50px;
}

video {
    display: flex;
    object-fit: cover;
    width: 40%;
    height: 100%;
    margin-left: auto;
    order: 2;
}

@media screen and (max-width: 960px) {

    .home-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-text {
        position:absolute;
        z-index: 1;
        align-items: center;
        text-align: center;
    }

    h1 {
        font-size: 4rem ;
    }

    p {
        font-size: 2rem;
    }

    video {
        width: 100%;
    }
}