.home-container {
    font-size: 3rem;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    overflow: hidden;
    overflow-y: hidden;
}

.home-text {
    color: rgb(158, 158, 158);
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: flex-end;
    margin: auto 50px;
}

video {
    display: flex;
    object-fit: cover;
    width: 40%;
    height: 100%;
    margin-left: auto;
    order: 2;
}

@media screen and (max-width: 960px) {
    h1 {
        font-size: 4rem ;
    }

    p {
        font-size: 2rem;
    }
}